.nav-container {
    display: block;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
}

.nav-button {
    background-color: #3498db;
    color: #ffffff;
    border: black;
    border-radius: 5px;
    padding: 15px 15px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
        background-color: #2980b9;
    }
}
