.dashboard-container {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
}

.task-list {
    list-style-type: none;
    padding: 0;
}

.task-list li {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    border-collapse: collapse;
}

.table th, .table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #e9ecef;
}

.thead-dark th {
    color: #fff;
    background-color: #343a40;
    border-color: #454d55;
}

.table-hover tbody tr:hover {
    color: #212529;
    background-color: rgba(0, 0, 0, 0.075);
}

table tr{
    cursor: pointer;
}
