 <mat-form-field>
    <input type="text" matInput [formControl]="userControl" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" >
      <mat-option *ngFor="let user of filteredUsers | async" [value]="user" (click)="onUserChanged(user)">
        {{ user.firstName + ' ' + user.lastName }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  

  <div class="scroll-container" infinite-scroll  [infiniteScrollDistance]="2" [infiniteScrollUpDistance]="1.5" [infiniteScrollThrottle]="100" [scrollWindow]="false" (scrolled)="refreshTasksForSelectedUser()"> 
    <h2>Lista zadań</h2>
    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Nazwa</th>
                <th>Opis</th>
                <th>Status</th>
                <th>Pozostały czas</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let task of tasks" (dblclick)="navigateToTaskDetails(task.id)">
                <td>{{ task.id }}</td>
                <td>{{ task.name }}</td>
                <td>{{ task.description }}</td>
                <td>{{ task.taskStatus }}</td>
                <td>{{ task.totalRemaing }}</td>
             </tr>
        </tbody>
    </table>
</div>

